.collection-card {
    margin-top: 5vh;
}

.collection-title {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
}

#delete-img {
    width: 3vw;
    height: 6vh;
    margin-left: 1vw;
}

.collection-place {
    color: var(--Main-Blue, #1464F6);
}

.collection-prevs {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 2vw;
}

.collection-prev {
    border-radius: 0.8vw;
    border: 0.2vw solid #4F4F4F;
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    margin-right: 2vw;
}

.collection-prev:last-of-type {
    margin-right: 0;
}