#logo {
    margin: 0px;
    margin-top: -8px;
    width: 20%;
    /* background-color: #1464F6; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#social-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-option {
    color: black;
    font-size: 14pt;
    font-weight: 1000;
    text-align: center;
}

.social-option-div {
    border-radius: 8px;
    width: 14vw;
}

.social-option-div:hover {
    background-color: #3d87b290;
    cursor: pointer;
}

#logo:hover {
    cursor: pointer;
}

#logo-img {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#logo-txt {
    margin: 0px;
    color: #FFF;
    text-align: center;
    font-family: Pacifico;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


nav {
    margin: 0px;
    background: linear-gradient(180deg, #1464F6 20%, #0A2A3C 100%);
    /* background-color: #1464F6; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

}


.nav-content {
    display: flex;
    align-items: flex-start; 
    justify-content: normal;
}

.nav-button {
    color: #FFF;
    padding: 5px;
    margin-left: 50px;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-button:hover {
    color: #1464F6;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#logout {
    position: absolute;
    right: 0px;
    margin-right: 3vw;
}