.main-content {
    margin-top: 8vh;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#noplaces {
    position: absolute;
    margin-left: 22vw;
    margin-top: 35vh;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#favorite-type-text, .recommended-place {
    color: white;
    font-weight: bold;
    background-color: #1464F6;
    padding: 0.5vh 0.5vw;
    border-radius: 5vh;
}

.recommended-place {
    margin-left: 1.5vw;
}

.recommended-place:hover {
    background-color: white;
    color: #1464F6;
    cursor: pointer;
}
