.menuItem {
    border-radius: .75vh;
    width: 12vw;
    height: 8vh;
    margin-left: 1vw;
    background: #FFF;
    font-size: 2.25vh;
    font-weight: bold;
}

.menuItem:active {
    color: red;
}

#elbowSlider {
    visibility: false;
}

#mapContainer2 {
    border-radius: 1vw;
    border: 1px solid #000;
    margin-left: 1vw;
    margin-top: 1vh;
    width: 98vw;
    height: 77vh;
}

#menuOptions {
    background-color: #FFF;
    width: 66vw;
    height: 10vh;
    border-radius: 1.5vh;
    margin-left: 15vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
