.menuItem {
    border-radius: .75vh;
    width: 12vw;
    height: 8vh;
    margin-left: 1vw;
    background: #FFF;
    font-size: 2.25vh;
    font-weight: bold;
}

#LeafletMap2 {
    width: 100vw;
    height: 100vh;
}

#mapContainer2 {
    border-radius: 1vw;
    border: 1px solid #000;
    margin-left: 1vw;
    width: 98vw;
    height: 78vh;
}

#menuOptions {
    background-color: #FFF;
    width: 53vw;
    height: 10vh;
    border-radius: 1.5vh;
    margin-left: 1vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}