#uploadContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vw;
}

#mapContainer {
    width: 35vw;
    height: 60vh;
}

#outer-rectangle {
    border-radius: 20px;
    border: 1px solid #000;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 35vw;
    height: 60vh;
}

 #inner-rectangle {
    overflow: hidden;
    width: 28vw;
    height: 45vh;
    margin-left: 3.5vw;
    margin-top: 3.5vw;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#inner-text {
    margin-top: 12vh;
    color: rgba(0, 0, 0, 0.292);
    text-align: center;
    font-family: Inter;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#chooseFileBtn {
    margin-left: 8vw;
    margin-top: 4vh;
    border-radius: 2vh;
    border: .3vh solid #4F4F4F;
    background: #A9A9A9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#chooseFileBtn:hover {
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

#chooseFileText {
    color: #ffffffb7;
    font-family: Inter;
    font-size: 3vh;
    font-style: normal;
    line-height: normal;
}