body {
    background: var(--Soft-grey, #272727);
}

#top_bar_1 {
    width: 1440px;
    height: 100px;
    flex-shrink: 0;
    background: #005D92;
}

#top_bar_2 {
    width: 1440px;
    height: 70px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #005D92 25.52%, #0A2A3C 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.basic_text{
    font-family: Inter;
}